* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
}

.navbar a {
    font-family: 'Source Code Pro', monospace;
    color: #041f09;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header .logo {
    font-size: 36px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #fc0000;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

.menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.container {
    background-color: #f8f1eb;
    color: #2f3e46;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Assure que le conteneur s'étend sur toute la hauteur */
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1; /* Pour que le contenu prenne tout l'espace disponible */
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 16px;
}

.brand-logo {
    border-radius: 50%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.button-wrapper {
    margin-top: 46%; 
    display: flex;
    margin-left: 50%;
    align-items: flex-end;
    gap: 8px;
}

.btn {
    font-size: 18px;
    color: #000d14;
    text-decoration: none;
    transition: color 0.3s;
}

.btn:hover {
    color: #1a202c;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main-image, .secondary-image {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shop-link {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    color: #2f3e46;
    text-decoration: none;
    transition: color 0.3s;
}

.shop-link:hover {
    color: #1a202c;
}

footer {
    text-align: center;
    padding: 16px 0;
}

footer a {
    font-size: 18px;
    color: #2f3e46;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #1a202c;
}

.dark-container {
    min-height: 100vh;
    background-color: #b2571f;
    color: #D9CAB3;
 
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.headers .logo {
    font-size: 36px;
    font-weight: bold;
    color: #FAF4EE;
}

nav a {
    color: #FAF4EE;
}

nav a:hover {
    text-decoration: underline;
}

.menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #FAF4EE;
}

.about-us {
    padding: 24px;
    text-align: center;
    /* margin: 64px 0; */
}

.about-us h2 {
    font-size: 36px;
    margin-bottom: 24px;
    color: #FAF4EE;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
    max-width: 800px;
    margin: 0 auto;
}

.text-and-image {
    display: flex;
    gap: 32px;
    
    align-items: center;
}

.image-section {
    flex: 1;
}

.image-left, .image-right {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-right {
    order: 2; /* Pour placer l'image à droite */
}

.image-left {
    order: 1; /* Pour placer l'image à gauche */
}


.footer-image {
    width: 100%; /*  l'image occupe toute la largeur */
    max-width: 100%;
 /* Ne pas dépasser la largeur maximale */
}

@media (max-width: 768px) {
    .text-and-image {
        flex-direction: column;
    }

    .image-right, .image-left {
        max-width: 100%; 
    }
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        flex-direction: row;
        align-items: flex-start;
        gap: 64px;
    }

    .text-content {
        align-items: flex-start;
        text-align: left;
    }

    .image-content {
        flex-direction: row;
        gap: 32px;
    }

    .secondary-images {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .about-us {
        text-align: left;
        margin: 64px 0;
    }

    .about-us p {
        max-width: 600px;
        margin-left: 32px;
    }

    .image-section {
        justify-content: flex-start;
    }

    .image-left {
        order: 3;
        margin-right: 32px;
    }

    .image-right {
        order: 2;
        margin-left: 32px;
    }
}












.product-section {
    display: flex;
    font-family: 'Source Serif Pro', serif;
    background-color: #f8f1eb;
    color: #2f3e46;
    padding-top: 13px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 32px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    border-bottom: 1px solid #d9cab3;
    padding-bottom: 32px;
}

.product-info {
    flex: 1;
    padding: 16px;
}

.product-title {
    font-size: 36px;
    color: #041f09;
    font-weight: 700;
    margin-bottom: 16px;
}

.product-description {
    font-size: 18px;
    margin-bottom: 16px;
}

.product-details {
    font-size: 14px;
    color: #041f09;
    margin-bottom: 16px;
}

.product-more-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-more-info p {
    font-size: 14px;
    margin-bottom: 8px;
}

.product-button {
    padding: 10px 20px;
    background-color: #041f09;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #2f3e46;
}

.product-image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}






.main-section {
    font-family: 'Source Code Pro', monospace;
    background-color: #f2e8dc; 
    color: #3d2f2b; 
    padding: 20px;
    text-align: center;
}

.main-section h1 {
    font-family: 'Playfair Display', serif;
    color: #3d2f2b;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #ffffff;
    border: 2px solid #3d2f2b;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card p {
    font-weight: 700;
    color: #3d2f2b;
    margin: 10px 0;
}

.product-card button {
    background-color: #8a9a5b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #3d2f2b;
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

footer form input, footer form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    font-family: 'Source Code Pro', monospace;
}

footer form button {
    background-color: #8a9a5b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-end;
}

.contact-info, .social-media {
    margin: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    footer form input, footer form textarea {
        width: 90%;
    }
}