* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
}

.navbar a {
    font-family: 'Source Code Pro', monospace;
    color: #041f09;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header .logo {
    font-size: 36px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #fc0000;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

.menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.container {
    background-color: #f8f1eb;
    color: #2f3e46;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 1; /* Pour que le contenu prenne tout l'espace disponible */
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 16px;
}

.brand-logo {
    border-radius: 50%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.button-wrapper {
    margin-top: 46%; 
    display: flex;
    margin-left: 50%;
    align-items: flex-end;
    gap: 8px;
}

.btn {
    font-size: 18px;
    color: #000d14;
    text-decoration: none;
    transition: color 0.3s;
}

.btn:hover {
    color: #1a202c;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main-image, .secondary-image {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shop-link {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    color: #2f3e46;
    text-decoration: none;
    transition: color 0.3s;
}

.shop-link:hover {
    color: #1a202c;
}

footer {
    text-align: center;
    padding: 16px 0;
}

footer a {
    font-size: 18px;
    color: #2f3e46;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #1a202c;
}

.dark-container {
    min-height: 100vh;
    background-color: #b2571f;
    color: #D9CAB3;
}


    .header {
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        }
        
        .header .logo {
        font-size: 36px;
        font-weight: bold;
        color: #FAF4EE;
        }
 
    
    nav a {
    color: #FAF4EE;
     font-family: 'Source Code Pro', monospace;
   
    }
 
header h1{
    font-family: 'Source Code Pro', monospace;
    color: #133709;
    font-size: 5vh;
    display: flex;
  justify-content: flex-start;
  margin-right: 35em;

}

nav a:hover {
    text-decoration: underline;
}

.menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #FAF4EE;
}

.about-us {
    padding: 24px;
    text-align: center;
}

.about-us h2 {
    font-size: 36px;
    margin-bottom: 24px;
    color: #FAF4EE;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 24px;
    max-width: 800px;
    margin: 0 auto;
}

.text-and-image {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-bottom: 24px;
}

.image-section {
    flex: 1;
}

.image-left, .image-right {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-right {
    order: 2; 
}

.image-left {
    order: 1; 
}

.footer-image {
    width: 100%; 
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .text-and-image {
        flex-direction: column;
    }

    .image-right, .image-left {
        max-width: 100%; 
    }
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        flex-direction: row;
        align-items: flex-start;
        gap: 64px;
    }

    .text-content {
        align-items: flex-start;
        text-align: left;
    }

    .image-content {
        flex-direction: row;
        gap: 32px;
    }

    .secondary-images {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .about-us {
        text-align: left;
        margin: 64px 0;
    }

    .about-us p {
        max-width: 600px;
        margin-left: 32px;
    }

    .image-section {
        justify-content: flex-start;
    }

    .image-left {
        order: 3;
        margin-right: 32px;
    }

    .image-right {
        order: 2;
        margin-left: 32px;
    }
}


/* Proooooooooooooooooooooddddddddduuuuuuuuuuuuuct */
.product-section {
    display: flex;
    font-family: 'Source Serif Pro', serif;
    background-color: #f8f1eb;
    color: #2f3e46;
    padding-top: 13px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 32px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    border-bottom: 1px solid #d9cab3;
    padding-bottom: 32px;
}

.product-info {
    flex: 1;
    padding: 16px;
}

.product-title {
    font-size: 36px;
    color: #041f09;
    font-weight: 700;
    margin-bottom: 16px;
}

.product-description {
    font-size: 18px;
    margin-bottom: 16px;
}

.product-details {
    font-size: 14px;
    color: #041f09;
    margin-bottom: 16px;
}

.product-more-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-more-info p {
    font-size: 14px;
    margin-bottom: 8px;
}

.product-button {
    padding: 10px 20px;
    background-color: #041f09;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-button:hover {
    background-color: #2f3e46;
}

.product-image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





.main-section {
    background-color: #D59C42;
    padding: 20px;
    text-align: center;
}

.main-section h1 {
    font-family: 'Playfair Display', serif;
    color: #133709;
    font-size: 5vh;
    display: flex;
    justify-self: flex-start;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    width: 250px;
}

.product-card .product-img {
    max-width: 100%;
    height: auto;
    position: absolute; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.product-info {
    padding: 10px 20px;
    position: relative; 
    z-index: 1; 
    margin-top: 150px; 
}

.product-border {
    width: 50%;
    height: 1px;
    background-color: #0b2305;
    margin: 19px auto;
}

.product-info p {
    font-weight: 600;
    color: #3d2f2b;
    margin: 10px 0;
}

.product-info .product-size {
    font-weight: normal;
}

.product-info button {
    background-color: transparent;
    color: #63703d;
    font-size: 12px;

    font-family: 'Source Code Pro', monospace;
    border: 1px solid #63703d;
    padding: 10px 20px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-border {
        margin-top: 99px ;
    }
    

    .product-card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .main-section h1 {
        font-size: 1.5em;
    }

    .product-info p {
        font-size: 0.9em;
    }

    .product-info button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
/* fooooooooooooooooooooooooooooooooootttttttttttttttttttttttttteeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #204e42;
    color: #D9CAB3;
    border-top: 2px solid #D9CAB3; 
    border-bottom: 2px solid #D9CAB3;
}

.footer .contact-section,
.footer .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0 10px;
}

.footer h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer address, 
.footer form {
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10px; 
}

.footer address a, 
.footer form a {
    color: #D9CAB3;
    text-decoration: none;
}

.footer address a:hover, 
.footer form a:hover {
    text-decoration: underline;
}

.footer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px; 
    align-items: flex-start; 
}

.footer form label {
    margin-bottom: 5px;
}

.footer form input, 
.footer form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color:#204e42 ;
    font-size: 1em;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #D9CAB3; 
    border-radius: 0;
}

.footer form textarea {
    height: 100px;
}

.footer form button {
    align-self: flex-end; 
    padding: 10px 20px;
    background-color: #204e42; 
    color: #FAF4EE;
    border:  1px solid #D9CAB3;
    cursor: pointer;
}


@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .contact-section,
    .footer .form-section {
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .footer form {
        max-width: 100%;
    }

    .footer form button {
        width: 100%; 
        text-align: center;
        align-self: center; 
    }

    .footer form button {
        align-self: flex-end; 
        padding: 5px 5px;
      
    }

    .footer form button {
        width: 20%;
    }
}

